li {
  margin-top: 16px;
}

ul > li:first-child > span {
  background-color: red;
  color: white;
}
ul > li:last-child > span {
  background-color: black;
  color: white;
}
li:nth-child(even) {
  margin-left: 16px;
}
p:nth-child(odd) {
  background-color: gray;
}
